/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2015, 9:19:28 PM
    Author     : briankondracki
*/

body{
    //background-color: #00A000;
    background-color: #388c11;
}

.mainNavbar nav{
    background-color: #0C371D;
}

.mainNavbar nav a:link, .mainHeader nav a:visited{
    color:white;
}

.mainNavbar nav a:hover{
    background-color:white;
    color:black;
}

.mainNavbar nav li a{
    color:white;
}

.node{
    background-color: #e2dede;
}

.header{
    background-color: #0C371D;
}

.headerImg{
    background-image:url(img/boat.jpg);
}

h2{
    color:black;
}

h1{
    color:white;
}

