/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2015, 9:19:28 PM
    Author     : briankondracki
*/

body{
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration: none;
}

.body{
    margin:0 auto;
    width:70%;
    clear:both;
}


.mainNavbar li:hover ul{
    display:block;
}

.mainNavbar nav{
    position:fixed;
    z-index:1000;
    top:0;
    bottom:0;
    left:0;
    width:12%;
}

.mainNavbar nav ul{
    list-style: none;
    margin: 2% auto;
}

.mainNavbar nav li{
    position:relative;
    //float:left;
    list-style-type: none;
}

.mainNavbar nav ul li{
    //float:left;
    display:block;
}

.mainNavbar nav a:link, .mainHeader nav a:visited{
    display:block;
    padding:10px 25px 10px 0px;
    text-align:right;
    height:20px;
}

.mainNavbar ul li a:link{
   // border-radius: 5px;
    display:block;
}

.mainContent{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content{
    width:100%;
    margin:auto;
}


.node{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:3% 15% 5% 15%;
    margin-top: 2%;
}

.header{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:3% 1% 1% 1%;
    margin-top: 2%;
}

h2{
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size:50px;
}

h1{
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size:50px;
}

.navbody{
    margin:0 auto;
    width:70%;
    clear:both;
}

.image{
    width:auto;
    height: 300px;
    display:block;
    margin: 3% auto;
}

.buttons{
    text-align: center;
}

.caption{
    text-align: center;
    margin-top: 20px;
}