.font1{
    font-family: 'Bitter', serif;
    font-size:16px;
}

.font2{
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}

.font3{
    font-family: 'Josefin Slab', serif;
    font-size:20px;
}

.font4{
    font-family: 'Lato', sans-serif;
    font-size:16px;
}

.font5{
    font-family: 'Oswald', sans-serif;
    font-size:16px;
}