/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 10:31:23 PM
    Author     : Brian
*/

.site_tool_bar{
    
    
}

.label_dropdown{
    -fx-padding:5px 5px 5px 5px;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size:12;
}

.file_toolbar{
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size: 12;
    -fx-base: rgb(39, 40, 40);
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

.label{
    -fx-padding: 0px 6px 0px 0px;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size:14;
}

.toolbar_buttons{
    -fx-padding:10px 5px 10px 5px;
    -fx-spacing:10px;
    -fx-alignment:center;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size:14;
}

.toolbar_panel{
    -fx-border-style:solid;
    -fx-border-color:black;
    -fx-border-width:1px;
    -fx-background-color:white;
}

.dual_buttons{
    -fx-padding:5px 10px 10px 10px;
    -fx-spacing:7px;
    -fx-alignment:center;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size:14;
}

.tab_pane{
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-size: 12;
    -fx-background-color:rgb(216, 222, 227);
}

#background{
    -fx-background-color:rgb(216, 222, 227);
}