/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2015, 9:19:28 PM
    Author     : briankondracki
*/

body{
    background-color: #585858;
}

.mainNavbar nav{
    background-color: #666;
}

.mainNavbar nav a:link, .mainHeader nav a:visited{
    color:white;
}

.mainNavbar nav a:hover{
    background-color:orange;
}

.mainNavbar nav li a{
    color:white;
}

.node{
    background-color: white;
}

.header{
    background-color: orange;
}

.headerImg{
    background-image:url(../../img/01.jpg);
}